.rich-text
	h1 Colours

ul.color-list
	li.color-list__item
			span.color-list__swatch.color-list__swatch--primary-shade
			span.color-list__label Primary (shade)
	li.color-list__item
		span.color-list__swatch.color-list__swatch--primary
		span.color-list__label Primary
	li.color-list__item
		span.color-list__swatch.color-list__swatch--primary-tint
		span.color-list__label Primary (tint)
	li.color-list__item
			span.color-list__swatch.color-list__swatch--secondary-shade
			span.color-list__label Secondary (shade)
	li.color-list__item
		span.color-list__swatch.color-list__swatch--secondary
		span.color-list__label Secondary
	li.color-list__item
		span.color-list__swatch.color-list__swatch--secondary-tint
		span.color-list__label Secondary (tint)
