doctype html
html
	head
		meta(name="viewport" content="width=device-width, minimal-ui, initial-scale=1, shrink-to-fit=no")
		title Thrall
		link(rel="stylesheet" href="/assets/css/index.css")

	body
		main
			block content

		script(src="/assets/js/index.js")