meta(charset="utf-8")
meta(name="apple-mobile-web-app-capable" content="yes")
meta(name="description" content="Dan Meek - Frontend Web Developer from Tunbridge Wells")
meta(name="author" content="Dan Meek")
meta(name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0")
