//- VARS
- var versionNumber = '0.0.1'
- var versionQuery = '?v=' + versionNumber
- var gtmId = 'GTM-XXX'

if locals.platform === 'development'
	<!-- v#{versionNumber} -->


include ../atoms/_index
include ../molecules/_index
include ../organisms/_index